{% macro calendar(nome,urlEvents,options = { businessHours:[],defaultView:null,btnView:null,minTime:null,maxTime:null,allDaySlot:true,slotMinutes:false,eventRender:null}) %}
    <div class='{{convertColGrid(cols|default(12))}}'>
        <div class="alert alert-warning alert-dismissible"  id='script-warning' style="display:none;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-warning"></i> Erro ao carregar!</h4>
            <code>eventos</code> deve estar executando.
        </div>
        <div class="col-xs-12 text-center loading-modal" style="display:none;" id="{{nome}}_loading">
            <br>
            <br>
            <img src="{{base_url()}}/images/Preloader_3.gif" width="64" height="64">
            <h4>Carregando</h4>
        </div>

        <div id='listaEventos' style='display: none;'></div>
        <div id='{{nome}}'></div>
	</div>
    <script>
        require(['fullCalendar'],function(){
            require(['fullCalendarLocale'],function(){
                var maxDate = moment();

                 $('#{{nome}}').fullCalendar({
                    defaultView:'{{options.defaultView|default("agendaWeek")}}',
                    locale:'pt-br',
                    displayEventTime: false,
                    allDaySlot:{{options.allDaySlot ? 'true':'false'}},
                    {% if options.minTime %}minTime: "{{options.minTime}}",{% endif %}
                    {% if options.maxTime %}maxTime: "{{options.maxTime}}",{% endif %}
                    header    : {
                        left  : 'prev,next today',
                        center: 'title',
                        right : '{{options.btnView|default("month,agendaWeek,agendaDay")}}'
                    },
                    eventLimit: true,
                    selectConstraint: "businessHours",
                    businessHours:{{ options.businessHours |json_encode | raw}},
                    selectable: true,
                    selectHelper: true,
                    {% if options.slotMinutes %} slotDuration: '00:30:00',{% endif %}
                    {% if options.eventRender %} eventRender: {{options.eventRender}},{% endif %}
                    defaultDate: '{{"now"|date("Y-m-d")}}',
                    select: function(start, end) {
                        start = $.fullCalendar.moment(start).format("YYYY-MM-DD[T]HH:mm:ss");
                        end = $.fullCalendar.moment(end).format("YYYY-MM-DD[T]HH:mm:ss");

                        $('#{{nome}}').trigger('selectEvent',[$(this),start,end]);
                    }, 
                    {% if urlEvents %}
                        events: {
                            url: '{{urlEvents}}',
                            error: function(e) {
                                $('#script-warning').show();
                            },
                            complete: function( response ) {
                                evento = response.responseJSON;
                                for(var i in evento ){
                                    var dataI = evento[i].start; dataF = evento[i].end;
                                        dataI = dataI.split('+'); dataF = dataF.split('+');
                                        
                                    $('#listaEventos').append('[ID: ' + evento[i].id + '] <b>Titulo:</b> '+ evento[i].title + ' <br /> <b>Data Inicial:</b> ' + dataI[0] + ' <br />  <b>Data Final:</b> ' + dataF[0] + '<br /><br />');
                                }
                            }
                        },
                    {% else %}
                        events:[],
                    {% endif %}
                    loading: function(bool){
                        $('#{{nome}}_loading').toggle(bool);
                    },
                    eventClick: function(calEvent, jsEvent, view) {
                        $('#{{nome}}').trigger('eventClick',[calEvent]);
                    }
                });
            });
        });
    </script>
{% endmacro %}