{% macro pieChart(name, data, cols,title, options = { ajax: false, showInLegend: false,dataLabels:false,border:false } ) %}
    <div id="chart-{{name}}" class="{{convertColGrid(cols|default(12))}}">
        <div id="{{name}}" style="min-width: 100%; max-width: 100%; margin: 0 auto; margin-top:0px;"></div>
    </div>
    
    {# Validacoes #}
    <script>
        require(['highcharts'],function(){
            require(['highchartModules'],function(){
                Highcharts.chart('{{name}}', {
                    lang: {
                        noData: "Sem dados"
                    },
                    noData: {
                        style: {
                            fontWeight: 'bold',
                            fontSize: '15px',
                        }
                    },
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie',
                        alignTicks: true,
                        animation: true,
                        backgroundColor: '#FFFFFF',
                        {% if options.border %}
                            borderColor: '#d2d6de',
                            borderRadius: 0,
                            borderWidth: 1
                        {% endif %}
                    },
                    credits: { enabled: false },
                    title: { text: '{{title | default('')}}' },
                    tooltip: { pointFormat: '<b>{point.percentage:.1f}%</b> - (<b>{point.y}</b>) ' },
                    
                    plotOptions: {
                        pie: {
                            allowPointSelect: false,
                            cursor: 'pointer',
                            depth: 35,
                            dataLabels: {
                                enabled: {{ options.dataLabels ? 'true' : 'false'}} ,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} % - (<b>{point.y}</b>)',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            },
                            showInLegend: {{ options.showInLegend ? 'true' : 'false' }}
                        }
                    },
                    series: [{
                        type: 'pie',
                        data: JSON.parse('{{ data | json_encode | raw }}')
                    }]
                });
            });
        });
   </script>
{% endmacro %}


{% macro columnChart(name, data, cols,title, options = { ajax: false, showInLegend: false,dataLabels:false,titleY:'',titleX:'' ,stackLabels:false} ) %}
    <div id="chart-{{name}}" class="{{convertColGrid(cols|default(12))}}">
        <div id="{{name}}" style="min-width: 100%; max-width: 100%; margin: 0 auto; margin-top:0px;"></div>
    </div>

    {# Validacoes #}
    <script>
        require(['highcharts'],function(){
            require(['highchartModules'],function(){
                Highcharts.chart('{{name}}', {
                    lang: {
                        noData: "Sem dados"
                    },
                    noData: {
                        style: {
                            fontWeight: 'bold',
                            fontSize: '15px',
                        }
                    },
                    chart: {
                        type: 'column'
                    },
                    credits: { enabled: false },
                    title: { 
                        text: '{{ title | default('') }}' ,
                        style:{
                            fontSize: '16px'
                        }  
                    },
                    xAxis: {
                        labels: {
                            enabled: false
                        }
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: '{{options.titleX}}'
                        },
                        stackLabels: {
                            verticalAlign: 'top',
                            crop: false,
                            enabled: true,
                            style: {
                                fontWeight: 'bold',
                                color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                            }
                        }
                    },
                    legend: {
                        enabled: {{ options.showInLegend ? 'true' : 'false' }},
                        itemStyle: {
                            fontSize: '9px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    },
                    tooltip: {
                        headerFormat:'',
                        pointFormat: '<span>{series.name}</span>: <b>{point.y}</b>',
                        footerFormat: '</table>',
                        shared: false,
                        useHTML: true
                    },
                    plotOptions: {
                        series: {
                            groupPadding: 0,
                            borderWidth: 0,
                            dataLabels: {
                                enabled: {{ options.dataLabels ? 'true' : 'false'}} ,
                                format: '{point.y}'
                            }
                        }
                    },
                    series: JSON.parse('{{ data | json_encode | raw }}'),
                });
            });
        });
   </script>
{% endmacro %}



{% macro columnChartCateg(name, data, cols,title, options = { ajax: false, showInLegend: false,dataLabels:false,titleY:'',titleX:'' ,stackLabels:false} ) %}
    <div id="chart-{{name}}" class="{{convertColGrid(cols|default(12))}}">
        <div id="{{name}}" style="min-width: 100%; max-width: 100%; margin: 0 auto; margin-top:0px;"></div>
    </div>

    {# Validacoes #}
    <script>
        require(['highcharts'],function(){
            require(['highchartModules'],function(){
                Highcharts.chart('{{name}}', {
                    lang: {
                        noData: "Sem dados"
                    },
                    noData: {
                        style: {
                            fontWeight: 'bold',
                            fontSize: '15px',
                        }
                    },
                    chart: {
                        type: 'column'
                    },
                    credits: { enabled: false },
                    title: { 
                        text: '{{ title | default('') }}' ,
                        style:{
                            fontSize: '16px'
                        }  
                    },                    
                    xAxis: {
                        type: 'category'
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: '{{options.titleX}}'
                        }
                    },
                    legend: {
                        enabled: {{ options.showInLegend ? 'true' : 'false' }},
                        itemStyle: {
                            fontSize: '9px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b>'
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: {{ options.dataLabels ? 'true' : 'false'}} ,
                                format: '{point.y}'
                            }
                        }
                    },
                   /* series: JSON.parse('{{ data | json_encode | raw }}')*/
                   series: [ {{ data | json_encode | raw }} ]
                });
            });
        });
   </script>
{% endmacro %}