{# 


 #}
{% for msg in flash('error')  %}
    {% set id = date('U') %}
    <div class="alert alert-danger alert-dismissible custom-alert" id="{{id}}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {% if msg is iterable  %}
            <h4><i class="icon fa fa-ban"></i> {{msg.title|raw}}</h4>
            {{ msg.text|raw}}
        {% else %}
            {{msg|raw}}
        {% endif %}
        {% if not msg.noClosed %}
            <script>
                $(document).ready (function(){
                    $("#{{id}}").fadeTo(2000, 500).slideUp(500, function(){
                        $("#{{id}}").slideUp(500);
                    });
                });
            </script>
        {% endif %}
    </div>
{% endfor %}

{% for msg in flash('info')  %}
    {% set id = date('U') %}
    <div class="alert alert-info alert-dismissible custom-alert" id="{{id}}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {% if msg is iterable  %}
            <h4><i class="icon fa fa-info"></i> {{msg.title|raw}}</h4>
            {{msg.text|raw}}
        {% else %}
            {{msg|raw}}
        {% endif %}
        {% if not msg.noClosed %}
            <script>
                $(document).ready (function(){
                    $("#{{id}}").fadeTo(2000, 500).slideUp(500, function(){
                        $("#{{id}}").slideUp(500);
                    });
                });
            </script>
        {% endif %}
    </div>
{% endfor %}

{% for msg in flash('warning')  %}
    {% set id = date('U') %}
    <div class="alert alert-warning alert-dismissible custom-alert" id="{{id}}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {% if msg is iterable  %}
            <h4><i class="icon fa fa-warning"></i> {{msg.title|raw}}</h4>
            {{msg.text|raw}}
        {% else %}
            {{msg|raw}}
        {% endif %}
        {% if not msg.noClosed %}
            <script>
                $(document).ready (function(){
                    $("#{{id}}").fadeTo(2000, 500).slideUp(500, function(){
                        $("#{{id}}").slideUp(500);
                    });
                });
            </script>
        {% endif %}
    </div>
{% endfor %}

{% for msg in flash('success')  %}
    {% set id = date('U') %}
    <div class="alert alert-success alert-dismissible custom-alert" id="{{id}}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {% if msg is iterable  %}
            <h4><i class="icon fa fa-check"></i> {{msg.title|raw}}</h4>
            {{msg.text|raw}}
        {% else %}
            {{msg|raw}}
        {% endif %}
        {% if not msg.noClosed %}
            <script>
                $(document).ready (function(){
                    $("#{{id}}").fadeTo(2000, 500).slideUp(500, function(){
                        $("#{{id}}").slideUp(500);
                    });
                });
            </script>
        {% endif %}
    </div>
{% endfor %}
