{% extends "backend.html.twig" %}

{% block body %}
<div class="wrapper">
	<header class="main-header">
	    {% include 'navigation.html.twig' %}
	</header>
  	<div class="content-wrapper">
		{% block contentWrapper %}
			<section class="content-header">
				{% include 'pagTitle.html.twig' with {page_title : block('page_title')} %}
			</section>
			<section class="content">
				{% block contentBox %}
					<div class="col-xs-12 box box-skin">
						<div class="box-body">
							{% block content %}{% endblock %}
							{% block container %}{% endblock %}
						</div>
					</div>
				{% endblock %}
			</section> <!-- /container -->
		{% endblock %}
	</div>
	<footer class="main-footer text-muted hidden-xs">
		<div class="col-md-4 pull-left text-muted">
			<small title="Dados da Sessão"> 
				<i class="fa fa-user"> </i> 
				<a href="{{ base_url() }}/app/system/suasessao" title="Informações da sessão">{{ session.app.login }}</a> 
				| <i class="fa fa-clock-o"> </i> {{ session.app.loggedIn|date("d/m/Y H:i:s") }} 
				<!-- | <span id="log"></span>  -->
				| <b>Sessão: </b>{{ session.app.sessao }} - <span id="spanRegSes"><i class="fa fa-cloud text-green"></i> Online</span>
			</small>
		</div>
		<div id="msgAlertas" class="col-xs-5 text-right"></div>
		<div class="col-xs-3 pull-right text-right hidden-xs text-muted"> 
			{% if sys.config.manager_notes %}
				<a class="btn btn-sm btn-xs btn-default" onclick="sysNotes()"> <i class="fa fa-file-o" aria-hidden="true"></i> Anotações</a>
			{% endif %}

			{% if sys.config.manager_files %}
				<a class="btn btn-sm btn-xs btn-default" onclick="fileManager()"> <i class="fa fa-th-list" aria-hidden="true"></i> File Manager </a>
			{% endif %}
			|<span class="cursor-pointer" title="Banco de Dados Conectado!"> {{ bdAtual|slice(10,-1)|raw }} </span> |
			<b class="cursor-pointer">Versão:</b> {{ sys.version }}

			{% if sys.config.beta %}
			<!-- Beta -->
			<a title="A versão beta é a versão de um produto (geralmente software) que ainda se encontra em fase de desenvolvimento e testes e são disponibilizados para que os usuários possam testar e eventualmente, reportar bugs para os desenvolvedores." class="cursor-pointer">
				<small style="padding-bottom:0px;padding-top:0px;" class="label bg-red">Beta</small>
			</a>
			{% endif %}
			
		</div>
	</footer>
	<!-- Control Sidebar -->
  	<aside class="control-sidebar control-sidebar-dark"></aside>
	<div id="kcfinder_div"></div>
	<div class="control-sidebar-bg"></div>
	<input type="hidden" id="urlBase" value="{{ base_url() }}">
	<input type="hidden" id="sesId" value="{{ session.app.sessao }}">
	<input type="hidden" id="urlPag" value="{{ base_url() }}/{{ currentUrl }}">
</div> <!-- ./wrapper -->
<div id="divModalBox" ></div>
<div class="loader"></div>
{% endblock %} 

{% block bScripts %}
	<script src="{{ base_url() }}/node_modules/@coder-lrv/nzord-app/src/js/nzord-app.js"></script>

	<script src="{{ base_url() }}/node_modules/moment/min/moment.min.js"></script>
	<script src="{{ base_url() }}/node_modules/moment/locale/pt-br.js"></script> 
	
	{% block scripts %}{% endblock %}
{% endblock %} 
