{% if url.pagina %}
	{% if page_title is empty %}
		<h1 title="{{ url.pagina }}"><i class="fa fa-home"></i> {{ url.pagina }}</h1>
	{% else %}
		{{ page_title |raw}}
	{% endif %}

	<ol class="breadcrumb">
		<li><a href="{{ base_url() }}"><i class="fa fa-globe"></i> Principal</a></li>
		{% if ucwords(url.pagina) == 'Index' %}
			<li class="active">{{ucwords(url.modulo)}}</li>
		{% else %}
			<li><a href="{{path_for_model(url.modulo)}}">{{ucwords(url.modulo)}}</a></li>
		{% endif %}

		{% if url.pagina and ucwords(url.pagina) != 'Index' %}
			<li class="active">{{ ucwords(url.pagina)}}</li>
		{% endif %}
	</ol>
{% endif %}